{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

	<div class="row"> 
		<div class="col-md-2 text-xs-center">
		
			<div class="card card-inverse">
				<div class="card-header card-success">
					Student Details
				</div>
				
				<div class="card-block">
					<img class="img-thumbnail" src="/images/{{ student.id }}.png"><br>
					Name: {{ student.name }} {{ student.surname }} <br>
					Barcode: {{ student.barcode }}
				</div>
			</div>
			
		</div>
		
		<div class="col-md-7" >
			<div class="card card-inverse">
				<div class="card-header card-success">
					Attendance Details
				</div>
				
				<div class="card-block">
					<table class="table table-hover table-condensed table-striped">
						<tr>
							<th>ID</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
						
						{% for att in student.attendance %}
						<tr>
							<td>{{ att.id }}</td>
							<td>{{ att.date|date("d/m/Y") }}</td>
							<td>{{ att.date|date("H:i:s", "Europe/Dublin") }}</td>
						</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
		</div>
		
		<div class="col-md-3" >
			<div class="card card-inverse">
				<div class="card-header card-success">
					Grades
				</div>
				
				<div class="card-block">
					
				</div>
			</div>
		</div>
	</div>

{% endblock %}